/* Hide login */
.error
    display: none
    
::ng-deep .tabs
    /* Hide header */
    .mat-tab-list .mat-tab-labels 
        display: none

    /* Hide border */
    .mat-tab-header
        border-bottom: none
